/*__________Estilos de la base_______________*/
*{
    margin: 0px;
    padding: 0px;
}
.contenedor{
    background-color: #FEF7FF;
    margin: 0;
    height:98vh;
    width:100vw;
}
.tabNavigator{
    margin: 0%;
    margin-right: 91vw;
    margin-bottom: 1vw;
    padding: 1rem;
    display: flex;
}

.plantilla{
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFF;
    padding: 2vw;
    margin-left: 3vw;
    border-radius: 1rem;
}

/*___________tab navigator___________*/
.menu{
    width: 3vw;
    height: 3vw;
    margin: 1vw;
    margin-top: 0vw;

}

li{
    list-style-type: none;
    text-align: center;
}

a{
    outline: none;
    text-decoration: none;
    color: #000000;
    text-align: center; 
}


/*_______Coso de las imagenes_______*/
.bordes{
    padding: 1vw;
    border-radius: 2vw;
}
.bordes.active {
  background-color: #bf1616;
}

.cerrar-sesion{ 
    margin-top: 16vw;
}