/*__________Estilos de la base_______________*/
*{
    margin: 0px;
    padding: 0px;
}
.contenedor{
    background-color: #FEF7FF;
    padding: auto;
    margin: auto;
}

.tabNavigator{
    background-color: #FEF7FF;
    margin-right: 90vw;
    padding: 2rem;
    display: flex;
    margin-bottom: auto;
}

.plantilla{
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFF;
    padding: 2vw;
    margin-left: 4vw;
    border-radius: 1rem;
}

/*___________tab navigator___________*/
.menu{
    width: 4vw;
    height: 2.5vw;
    margin: 1vw;
    margin-top: 0vw;
    margin-bottom: 4rem;
}

li{
    list-style-type: none;
    text-align: center;
}

a{
    outline: none;
    text-decoration: none;
    color: #000000;
    text-align: center; 
}


/*_______Coso de las imagenes_______*/
.bordes{
    background-color: #bf1616;
    padding: 1.5rem;
    border-radius: 2vw;
}

.cerrar-sesion{ 
    margin-top: 20vw;

}