/*___________tab navigator___________*/
.menu{
    width: 3vw;
    height: 3vw;
    margin: 1vw;
    margin-top: 0vw;
    cursor: pointer;
}

.tabNavigator{
    margin: 0%;
    margin-right: 91vw;
    margin-bottom: 1vw;
    padding: 1rem;
    display: flex;
}

li{
    list-style-type: none;
}
.textbarra{
    margin-top: 1.5vw;
    margin-left: 10vw;
}

a{
    outline: none;
    text-decoration: none;
    color: #000000;
    text-align: center; 
}

.container {
            display: flex;
            height: 100vh;
            width: 100vw;
}
.sidebar {
            width: 6rem;
            background-color: #ff4242;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            justify-content: space-between;
            top: 0;
            bottom: 0;
            left: 0;
            transition: transform 0.3s ease-in-out;
}
.sidebar.collapsed {
            transform: translateX(-100%);
}

.nav {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            align-items: center;
            width: 100%;
}
.nav-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #333;
            text-decoration: none;
            font-size: 0.75rem;
            position: relative;
            width: 100%;
}
.nav-link img {
            width: 2rem;
            height: 2rem;
            z-index: 2;
}
.nav-link span {
            margin-top: 0.25rem;
            z-index: 2;
}
.nav-link .active-bg {
            position: absolute;
            top: -1rem;
            left: 50%;
            transform: translateX(-50%);
            width: 5rem;
            height: 4rem;
            background-color: #ff837e;
            border-radius: 15px;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            color : white;
}
.logout-btn {
            margin-bottom: 1.25rem;
            cursor: pointer;
}
.logout-btn img {
            width: 2.5rem;
            height: 2.5rem;
}
.content {
            flex: 1;
            margin-left: 5rem;
            padding: 1.25rem;
            width: calc(100% - 5rem);
            transition: margin-left 0.3s ease-in-out;
}
@media (max-width: 48rem) { /* ~768px */
            .sidebar {
            width: 4rem;
            transform: translateX(-100%);
}
.sidebar.collapsed {transform: translateX(0);}
.content {margin-left: 0;}

.content.shifted {margin-left: 4rem;}
}