.margen {

    color: black;
    display: flex;
    /*align-items:flex-end;*/
    padding: 1rem;
}

/*__________estilos de las cajas de contenido__________ */
.caja_1{
    padding: 2vw;
    margin: 1rem;
    width: 30vw;
    height: 30vw;
    background-color: #f0f0f0;
    border-radius: 2rem;
}
.caja_2{
    padding: 2vw;
    margin: 1rem;
    width: 30vw;
    height: 30vw;
    background-color: #f0f0f0;
    border-radius: 2rem;
}
.caja_pedidos{
    padding: 1vw;
    margin: 1vw;
    width: 15vw;
    height: 15vw;
    background-color: #f0f0f0;
    border-radius: 2rem;

}
.buscador{
    position: absolute;
    width:100%;
    padding: 1rem;
    border-radius: 3rem;
    border-color: #c1bfbf;
    margin-bottom: 40vw;
}
.opciones{
    margin:0%;
    margin-top: 5vw;
}
.search-bar {
    height: 4vh;
    width: 40vw;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.search-bar input {
    margin-top: 1rem;
    margin-left: .3rem;
    flex: 1.5;
    border: none;
    outline: none;
    font-size: 16px;
}



.filter-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.filter-buttons {
    display: flex;
    gap: 5px;
}

.filter-button {
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #e0e0e0;
    color: #333;
    font-size: 14px;
}

.filter-button.active {
    background-color: #ff4d4d;
    color: white;
}
.scroll{
    padding:0%;
    margin:0%;
    width: 30vw;
    height: 33vw;
    overflow: auto;
}

.scroll_pruebas{
    width: 70vw;
    height: 36vw;
    overflow: auto;
    display: flex;
    align-items:flex-start;
}
.prueba_tabla{
    padding: 10px;
    display: flex;
    align-items: flex-end;
}
.pedidos-form{
    padding: 2vw;
    margin: 1rem;
    width: 30vw;
    height: 30vw;   
}

.registrar-user{
    margin-left: 20jvw;
    margin-top: 12vw;
}
/*________Botones________*/
.btn-agregar{
    position: absolute;
    color: #ffffff;
    background-color: #DA0C15;
    border-style: none;
    border-radius: 15px;
    padding: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 60vw;
}
.btn-agregar:hover{
    background-color: #ffffff;
    color: #DA0C15;
    font-weight: bold;
    border: #DA0C15 1px solid;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

/*________inputs________*/
.label-form{
    padding: 20px;
    padding-right: 15vw;
    margin-right: 30vw;
    border-radius: 1rem;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
