/*__________Estilos de la base_______________*/
*{
    margin: 0px;
    padding: 0px;
}
.contenedor{
    background-color: #FEF7FF;
    padding: 2vh;
    margin: 0%;
}


.plantilla{
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFF;
    padding: 2vw;
    margin-left: 5vw;
    border-radius: 2rem;
}


/*_______Coso de las imagenes_______*/
.bordes{
    padding: 1vw;
    border-radius: 2vw;
}
.bordes.active {
    background-color: #bf1616;
}

.cerrar-sesion{ 
    margin-top: 16vw;
}