/*__________Estilos de la base_______________*/
*{
    margin: 0px;
    padding: 0px;
}
.contenedor{
    background-color: #FEF7FF;
    padding: 2vh;
    margin: 0%;
}


.plantilla{
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFF;
    padding: 2vw;
    border-radius: 2rem;
    transition: margin-left 0.3s cubic-bezier(.4,2,.6,1), width 0.3s cubic-bezier(.4,2,.6,1);
    margin-left: 4vw;
}

.content-expanded {
    margin-left: 8vw;
}

.content-collapsed {
    margin-left: 4vw;
}

@media (max-width: 768px) {
    .sidebar,
    .sidebar-open,
    .sidebar-closed {
        width: 12vw;
        min-width: 12vw;
    }
    .sidebar-open {
        width: 40vw;
    }
    .plantilla {
        margin-left: 12vw;
    }
    .content-expanded {
        margin-left: 40vw;
    }
}

